asgiref==3.8.1
attrs==24.2.0
certifi==2024.12.14
charset-normalizer==3.4.1
diff-match-patch==20230430
Django==5.0.6
django-import-export==4.0.3
djangorestframework==3.15.1
djangorestframework-simplejwt
drf-spectacular
django-cors-headers
idna==3.10
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
packaging==24.0
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
sqlparse==0.5.0
tablib==3.5.0
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3==2.3.0
